.search-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.search-input {
  margin-right: .5em;
}

.search-button {
  font-size: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 2.5em;
  box-shadow: none;
}

.results-container {
  text-align: center;
  
  border-style: solid;
  border-color: rgb(0 0 0 / 60%);
  border-width: 1px;
  border-radius: .5em;
  box-shadow: 0 3px 5px rgb(0 0 0 / 60%);
  margin-bottom: 1em;
  padding: .5em;

  
  color: var(--black);
}